/* Reset de estilos básicos para una apariencia limpia y consistente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* BASE */
html {
  font-size: 100%;  /* si cambias esto todo escalará proporcionalmente */
}
/* Body */
body {
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  position: relative;
  text-align: center;
  padding: 1rem;
  background-color: #eee;
}
/* Modo oscuro/claro  */
.toggle-tema {
  position: absolute;
  top: 1rem;
  right: 1rem;

  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .header {
  background-color: #1e1e1e;
}

body.dark-mode footer {
  background-color: #1e1e1e;
}

.titulo-principal {
  font-size: 1.5rem;
}

.descripcion {
  font-size: 0.875rem;
}

/* Contenido principal */
.paleta {
  padding: 1rem;
}

/* Controles */
.control {
  margin-bottom: 1rem;
}

.control label {
  margin-right: 0.3rem;
}

.control select {
  margin-right: 0.6rem;
}

.control button {
  margin-right: 0.3rem;
}

/* Galería de tarjetas */
.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.625rem;
}
/* Tablets */
@media (max-width: 48rem) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Móviles */
@media (max-width: 30rem) {
  .galeria {
    grid-template-columns: 1fr;
  }
}

.tarjeta {
  position: relative;
  background-color: var(--color-fondo, #ccc);
  color: var(--color-texto, #000);
  padding: 1.25rem;
  min-height: 10rem;
  /* aspect-ratio: 1 / 1; */
  /* mejora visual */
  border-radius: 0.75rem;
  overflow: hidden;
  /* para que no se deformen en el grid */
  display: flex;
}
.info-color {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  font-size: 0.8rem;
}
.mensaje-copy {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;

  background: rgba(0, 0, 0, 0.7);
  color: white;

  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;

  font-size: 0.75rem;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #eee;
  margin-top: 1.25rem;
}